<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head.ejs')%> 
</head>
<body>
    <%-include('./inc/nav.ejs')%> 
    <section>
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, nemo?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, nemo?</p>
    </section>
</body>
</html>